:root {
  --background:           lightblue;
  --oca_background:       lightyellow;
  --puente_background:    blue;
  --laberinto_background: brown;
  --pozo_background:      purple;
  --muerte_background:    black;
  --carcel_background:    gray;
  --posada_background:    red; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

span {
  width: 100%;
  margin: 5px; }

.tablero {
  display: grid;
  grid-template-columns: repeat(8, 5em);
  grid-template-rows: repeat(8, 5em); }

.tablero__celda {
  background-color: var(--background);
  border: 1px solid yellow; }

.tablero__celda--1 {
  grid-column: span 2; }

.dadoContainer {
  width: 100%;
  height: 10em;
  background-color: lightcoral; }

.tablero__celda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.tablero__celda--5,
.tablero__celda--9,
.tablero__celda--14,
.tablero__celda--18,
.tablero__celda--23,
.tablero__celda--27,
.tablero__celda--32,
.tablero__celda--36,
.tablero__celda--41,
.tablero__celda--45,
.tablero__celda--50,
.tablero__celda--54,
.tablero__celda--59 {
  background-color: var(--oca_background); }

.tablero__celda--19 {
  background-color: var(--posada_background); }

.tablero__celda--6,
.tablero__celda--12 {
  background-color: var(--puente_background); }

.tablero__celda--52 {
  background-color: var(--carcel_background); }

.tablero__celda--58 {
  color: white;
  background-color: var(--muerte_background); }

.tablero__celda--31 {
  background-color: var(--pozo_background); }

.dadoContainer__dado {
  width: 50px;
  height: 50px;
  background-color: lightgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.celda__ficha {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.celda__ficha--1 {
  background-color: lightcoral; }

.celda__ficha--2 {
  background-color: lightgreen; }
