$celda-size: 3em;
.tablero{
  display: grid;
  grid-template-columns: repeat(8, $celda-size);
  grid-template-rows: repeat(8, $celda-size);
}
.tablero__celda{
  background-color: var(--background);
  border: 1px solid yellow;
}
.tablero__celda--1{
  grid-column: span 2;
}
.dadoContainer{
  width: 100%;
  height: 10em;
}