:root {
  --background:           lightblue;
  --oca_background:       lightyellow;
  --puente_background:    blue;
  --laberinto_background: brown;
  --pozo_background:      purple;
  --muerte_background:    black;
  --carcel_background:    gray;
  --posada_background:    red;
}