:root{
  --background: lightblue;
}


$oca_background: "https://bit.ly/2DVMlqa";
$puente_background: "https://png.pngtree.com/element_origin_min_pic/16/07/10/21578247b5f14e0.jpg";
$dados_background: "https://cdn5.dibujos.net/dibujos/pintar/dados.gif";
$laberinto_background: "https://www.educima.com/dibujo-para-colorear-laberinto-dm30187.jpg";
$pozo_background: "https://www.educima.com/dibujo-para-colorear-pozo-de-agua-dm16189.jpg";
$muerte_background: "https://www.educima.com/dibujo-para-colorear-calavera-dm16657.jpg";
$carcel_background: "https://st2.depositphotos.com/2654883/6376/v/950/depositphotos_63765695-stock-illustration-man-in-jail-holding-bars.jpg";
$posada_background: "https://images.vexels.com/media/users/3/78633/raw/5497463229c36ae24bc58a495d1081d6-dos-pisos-dibujo-de-la-casa.jpg";