.celda__ficha{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.celda__ficha--1{
    background-color: lightcoral;
}
.celda__ficha--2{
    background-color: lightgreen;
}